* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}
html {
  background: #f3f5f6;
  font-family: sans-serif;
  font-weight: 550;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
#header {
  height: 147px;
  background: rgba(128, 0, 0, 0.926);
}
.nav,
input,
select {
  background: white;
  border-radius: 3px;
  border: none;
  font-size: 1.1rem;
  color: rgb(90, 90, 90);
  padding: 6px;
}

select {
  border: 1px solid grey;
  margin-right: 5px;
  font-size: 1.1rem;
}

#message {
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .item-container {
  margin: 0 auto;
  height: 700px;
  margin-bottom: 50px;
}
.item-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  justify-items: center;
  background: #f3f5f6;
}
article {
  margin: 10px;
  height: 100%;
}

.item-container img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;
  transition: transform 0.5s;
}
.item-title p {
  text-align: center;
  font-size: 1.3rem;
  margin-top: 20px;
  padding: 10px;
}
header h1,
h2 {
  padding: 10px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.book-container article {
  display: flex;
  gap: 30px;
}
.book {
  width: 20%;
  height: 300px;
  margin-left: 100px;
}
.book img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.5s;
}

.book-details {
  width: 80%;
  height: 300px;
  padding: 80px;
}
.book-details h3,
h4,
p {
  margin-bottom: 20px;
}

.price {
  display: flex;
}
.price h4 {
  color: grey;
}
.price p {
  color: maroon;
  font-size: 1.5rem;
  margin-left: 10px;
}
button {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid black;
  background: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.2rem;
}
button:hover {
  background: rgba(128, 0, 0, 0.926);
  color: white;
}
img:hover {
  transform: scale(1.1);
  cursor: pointer;
  filter: blur(0px);
}

