<section class="flex">
  <img
    style="padding: 2em"
    src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTQ3Mzg3MjY0ODg2OTA4NTk5/j_cole_photo_by_isaac_brekken_wireimage_getty_503069628.jpg"
    alt=""
  />

  <article>
    J. Cole is a rapper and producer who signed on with Jay Z's Roc Nation in
    2009 and has produced for artists like Kendrick Lamar and Janet Jackson.
    <br /><br />

    <h1>Who Is J. Cole?</h1>
    J. Cole is a rapper and producer who has achieved success in the early
    2010s. Since signing to Jay Z's Roc Nation, he has toured worldwide, sold
    huge amounts of records, produced for Kendrick Lamar and even come to the
    attention of Barack Obama. Along with establishing his own nonprofit
    foundation, he keeps up a busy release schedule. No wonder Drake paid him
    the highest compliment: “You are looking at one of the smartest, greatest,
    most legendary artists of our generation.”
    <br />
    <h2>Early Life</h2>
    <p>
      Jermaine Lamarr Cole was born on January 28, 1985, at a U.S. Army base in
      Frankfurt, then in West Germany. His father, an African American soldier,
      left his mother, a white German postal worker, when Cole was a baby. She
      moved with him and his older brother, Zach, to Fayetteville, North
      Carolina, where the family lived in trailer parks as she struggled to make
      ends meet.
    </p>
    <br />
    <p>
      His mom eventually remarried — Cole's stepfather was also in the Army —
      and the family relocated to a nicer home. However, the marriage crumbled
      and the family lost the house as Cole was about to leave for college. His
      stepfather had become abusive, particularly toward Zach; after the
      marriage ended, Cole's mother became addicted to crack under the influence
      of a new boyfriend.
    </p>
    <br />
    <p>
      It was in Fayetteville that Cole's passion for music found an early outlet
      when he joined the Terry Sanford Orchestra as a violinist. He also began
      to teach himself rapping and production, rapping first as Blaza, then as
      Therapist — “We used to look through the dictionary for rap names,” he
      recalled later — before hooking up with a local group called Bomm Sheltuh.
    </p>
    <br />
    <p>
      He held down a number of part-time jobs as a teenager while he honed his
      production skills, including a stint at an ice hockey rink where he had to
      dress up as a kangaroo mascot. After graduating from high school, Cole
      moved to New York and attended St John's University, graduating magna cum
      laude in 2007 with a degree in communications.
    </p>
    <br />
    <h3>Getting Signed to Roc Nation</h3>
    <p>
      His debut mixtape, The Come Up, also came out in 2007. It was largely
      self-produced, but also saw him rapping over beats from Kanye West, Large
      Professor and Just Blaze. A track called "Lights Please" from his second
      mixtape, The Warm Up (2009), came to the attention of the producer and
      music exec Mark Pitts, who played it to Jay Z. Ironically, Cole had
      attempted to give Jay Z a copy himself, after waiting outside a studio to
      meet his idol for three hours — only to be rebuffed with the line “Man, I
      don't want that shit.” But Pitts had Jay Z's ear, and the mogul was
      impressed with what he heard. Cole signed to Roc Nation and started to
      appear as a guest on tracks by Wale, Jay Z and Talib Kweli.
    </p>
    <br />
    <p>
      A third mixtape in 2010, Friday Night Lights, consisted of songs rejected
      from Cole's debut studio album. That album, Cole World: The Sideline
      Story, finally saw the light of day in 2011 and would go on to be
      certified platinum. Critics hailed a promising artist, with the L.A. Times
      praising the “satisfying confidence” of his rhymes and the “slickly
      inventive beats.”
    </p>

    <p>Listen <a href="#!/music"> here</a></p>
  </article>
</section>
