<section class="grid-2">

  <img
    src="https://media.gettyimages.com/photos/cole-headlines-the-main-stage-on-day-1-of-wireless-festival-2018-at-picture-id993047276?k=20&m=993047276&s=612x612&w=0&h=Tu3GD_PWj4UJ_hT3MF3Int9ioVWAHKuUzxoJXdrnYLc="
    alt=""
  />
  <img
    src="https://media.gettyimages.com/photos/cole-performs-on-day-one-of-lollapalooza-2016-at-grant-park-on-july-picture-id584460560?k=20&m=584460560&s=612x612&w=0&h=2X2rkg4eKZzzykNFsp3jQK-sEfe8yoWpD2kc7-cH1ek="
    alt=""
  /><img
    src="https://media.gettyimages.com/photos/cole-performs-at-halftime-during-the-68th-nba-allstar-game-at-center-picture-id1125536197?k=20&m=1125536197&s=612x612&w=0&h=i19scu5dA-LislWW8HKe0UfyXrA7Ic6NtRFJL3xVakE="
    alt=""
  /><img
    src="https://media.gettyimages.com/photos/cole-performs-at-le-zenith-on-october-10-2017-in-paris-france-picture-id859898884?k=20&m=859898884&s=612x612&w=0&h=5J-Vv6y3XZRzPl4_Y1481nPp5j0LvJrAr78DpwbfA88="
    alt=""
  />
</section>
