* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
  font-size: 10px;
  line-height: 1.4;
}
.border {
  border: 1px solid black;
}
/* DISPLAYS */
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* GRIDS */
.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.full-grid,
h3 {
  grid-column: 1/5;
}

/* TOOLS */

.align-right {
  text-align: right;
}
.align-center,
h3 {
  text-align: center;
}
.blue-text {
  color: #0203bd;
}
.dashed {
  border-bottom: 1px dashed;
}

/* CONTENTS */

.head h3 {
  margin: 0 auto;
  font-size: 1.3em;
}
.head img {
  margin-right: auto;
}

main {
  padding: 3%;
  min-height: 100vh;
  background: rgb(27, 55, 65);
  background: linear-gradient(
    180deg,
    rgba(27, 55, 65, 1) 0%,
    rgba(43, 98, 131, 1) 100%
  );
}
section {
  padding: 3%;
  width: 45vw;
  min-height: 90vh;
  background: white;
  border-radius: 5px;
  box-shadow: 0 7px 2px -2px rgb(53, 53, 53);
}

form {
  height: 100%;
  font-weight: 600;
}
input {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
}
input[type="checkbox"] {
  margin: 2px;
}
input[disabled="disabled"] {
  opacity: 0.4;
  cursor: not-allowed !important;
}
input[type="submit"] {
  padding: 0.4rem;
  width: 30%;
  float: right;
  margin-top: 1em;
  font-size: 1.1rem;
  color: white;
  box-shadow: 0 3px 2px -2px rgb(53, 53, 53);
  background: rgba(43, 98, 131, 1);
}

input.ng-invalid {
  border-bottom: 1px solid red;
}
input.ng-valid {
  border-bottom: 1px solid lightgreen;
}
