* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}
header {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}
.h-content {
  height: 100px;
  align-items: center;
}
h1 {
  margin-left: 50px;
  text-align: center;
}
.search {
  border: 1px solid #c3c6cb;
  margin-left: auto;
  margin-right: 50px;
  padding: 10px;
}
input[type="search"] {
  border: none;
}
nav ul,
li,
a {
  list-style-type: none;
  color: black;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  padding: 10px;
}
.container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  height: 65vh;
  margin-bottom: 35px;
  margin-top: 30px;
}
.img-item {
  width: 100%;
  height: 100%;
}
.img-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info {
  width: 70%;
  background: rgb(204, 11, 40);
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding: 20px;
}
.page {
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-bottom: 100px;
}
.page h1 {
  margin: 30px;
}
.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.1);
}
.details {
  width: 100%;
  height: 20px;
  margin-top: 40px;
  background: rgb(204, 11, 40);
  padding: 20px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
}
.calc {
  width: 400px;
  height: 400px;
  padding: 20px;
  border: 1px solid black;
  margin: 0 auto;
}
.calc p,
label,
select {
  font-size: 1.4rem;
  margin: 70px 20px;
  padding: 10px;
}

footer {
  background: rgb(204, 11, 40);
  width: 100%;
  height: 50px;
}
#top {
  display: flex;
  justify-content: center;
  width: 20%;
  margin-top: 50px;
  background: goldenrod;
  color: white;
}
footer {
  color: white;
  justify-content: center;
  align-items: center;
}

