<section>
  <div class="carousel">
    <a href="" class="carousel-slides"
      ><div class="carousel-img-wrapper">
        <video><source src="" /></video>
        <div class="slide-info">
          <h3>What Next / Entrepreneurial Success</h3>
          <h2>A bold move towards quality</h2>
          <button class="white-button">
            Watch our video about Multti Tomatoes
          </button>
        </div>
      </div>
    </a>
  </div>
  <div class="discover">
    <div class="careers grid-2">
      <div>
        <img
          src="https://careers.db.com/contentAsset/image/58f89967-a91f-4185-9662-a7056728ae6e/fileAsset/filter/Resize,Jpeg/resize_w/640/f7d69466-f70c-4928-8658-d84afa9d0de3.jpg"
          alt=""
        />
        <p>We choose to be more</p>
        <h2>
          Discover how we are placing inclusion at the heart of our culture.
        </h2>
        <button class="blue-button">more</button>
      </div>

      <div class="careers-section">
        <div
          class="careers-section-tile"
          style="background: #2d3d4b; color: white"
        >
          <h2>Professionals</h2>
          <p>Discover the oppourtunity for you</p>
          <button class="white-button">more</button>
        </div>
        <div
          class="careers-section-tile"
          style="background: #0018a8; color: white"
        >
          <h2>Students and Graduates</h2>
          <p>
            Whether you're a university student or a recent graduate, explore a
            broad range of entry routes tailored to you
          </p>
          <button class="white-button">more</button>
        </div>
        <div class="careers-section-tile" style="background: #c1c6ce">
          <h2>School leavers</h2>
          <p>
            Our school leaver oppourtunities offer an attractive alternative to
            university and a great platform to start a successful career.
          </p>
          <button class="blue-button">more</button>
        </div>
      </div>
    </div>
  </div>
</section>
