<section>
  <div class="carousel">
    <a href="" class="carousel-slides"
      ><div class="carousel-img-wrapper">
        <img
          src="https://www.db.com/contentAsset/image/cfac9841-d25b-4d60-aafb-bb7c3f7077fe/fileAsset/filter/Jpeg"
          alt=""
        />
        <div class="slide-info">
          <h3>What Next / Entrepreneurial Success</h3>
          <h2>A bold move towards quality</h2>
          <button class="white-button">
            Watch our video about Multti Tomatoes
          </button>
        </div>
      </div>
    </a>
    <a href="" class="carousel-slides"
      ><div class="carousel-img-wrapper">
        <img
          src=" https://www.db.com/contentAsset/image/8c0899ae-83f5-440b-9b72-c40b3e2a23e6/fileAsset/filter/Jpeg"
          alt=""
        />
        <div class="slide-info">
          <h2>flow hall of fame 2021</h2>
          <button>Essential read for corporate clients</button>
        </div>
      </div>
    </a>
    <a href="" class="carousel-slides"
      ><div class="carousel-img-wrapper">
        <img
          src="https://www.db.com/contentAsset/image/a5c9f18f-485a-4bea-a5b1-a8002a3bb015/fileAsset/filter/Jpeg"
          alt=""
        />
        <div class="slide-info">
          <h2>World Outlook 2022-23: Dodging the Tempests</h2>
          <button>Listen to our Podcast</button>
        </div>
      </div>
    </a>
    <a href="" class="carousel-slides"
      ><div class="carousel-img-wrapper">
        <img
          src="
      https://www.db.com/contentAsset/image/9c9bbf4a-caca-42b7-a81f-ca716da0f668/fileAsset/filter/Jpeg"
          alt=""
        />
        <div
          class="slide-info"
          style="background: linear-gradient(90deg, #0c2340, transparent)"
        >
          <h3>What Next Dossier #6</h3>
          <h2>What does it take to make bold moves in business</h2>
          <button>Reaching the next level</button>
        </div>
      </div>
    </a>
    <a href="" class="carousel-slides"
      ><div class="carousel-img-wrapper">
        <img
          src="https://www.db.com/contentAsset/image/005d5f09-2424-4888-b983-a1fcfe105b6e/fileAsset/filter/Jpeg"
          alt=""
        />
        <div class="slide-info">
          <h2>
            Our global mental health campaign makes sure 123,000 young people
            are #NotAlone
          </h2>
          <button>Read More</button>
        </div>
      </div>
    </a>
    <div class="controls">
      <button onclick="plusSlides(-1)">&#10094;</button>
      <button onclick="plusSlides(1)">&#10095;</button>
    </div>
  </div>
  <div class="main-container">
    <div class="grid-4">
      <a href="" class="widget">
        <div class="widget-wrapper">
          <div class="widget-img-wrapper">
            <img
              src="https://www.db.com/contentAsset/image/74408fc6-88e…fc6-88e2-483d-acda-1734b8eb3666.jpg?language_id=1"
              alt=""
            />
          </div>

          <p>News | January 13, 2022</p>

          <h4>Deutsche Bank ranked top five arranger of ESG debt in 2021</h4>
        </div>
      </a>
      <a href="" class="widget">
        <div class="widget-wrapper">
          <div class="widget-img-wrapper">
            <img
              src="https://www.db.com/contentAsset/image/2d098c70-08b…c70-08b7-46c5-985a-ac874260cd55.jpg?language_id=1"
              alt=""
            />
          </div>
          <p>Media Release | January 5, 2022</p>
          <h4>
            BNP Paribas and Deutsche Bank complete the transfer of global prime
            finance & electronic equities to BNP Paribas
          </h4>
        </div>
      </a>
      <a href="" class="widget">
        <div class="widget-wrapper">
          <div class="widget-img-wrapper">
            <img
              src="https://www.db.com/contentAsset/image/8f601df4-c37…df4-c379-4c72-84dd-d1aaf96ba160.jpg?language_id=1"
              alt=""
            />
          </div>

          <p>News | December 17, 2021</p>

          <h4>Deutsche Bank wins seven CMD debt capital market awards</h4>
        </div>
      </a>
      <a href="" class="widget">
        <div class="widget-wrapper">
          <div class="widget-img-wrapper">
            <img
              src="https://www.db.com/contentAsset/image/e7b089f1-2016-4f58-a595-b7a45f34e80f/fileAsset/filter/Resize,Jpeg/resize_w/640/e7b089f1-2016-4f58-a595-b7a45f34e80f.jpg?language_id=1"
              alt=""
            />
          </div>

          <p>News December 13, 2021</p>
          <h4>Deutsche Bank helps Berlin start-up make the leap to the USA</h4>
        </div>
      </a>
      <a href="" class="widget">
        <div class="widget-wrapper" style="background: #e57200">
          <div class="widget-img-wrapper">
            <img
              src="	https://www.db.com/contentAsset/image/31cb7867-325…867-3256-4694-9cb1-98508c518cae.jpg?language_id=1
  "
              alt=""
            />
          </div>

          <p style="color: black">Expedition Finance January 12, 2022</p>

          <h4>In-Car-Payment</h4>
          <p style="color: black">
            Will your car be your wallet? Explorer Jürgen meets Robin Brass, the
            expert for In-Car-Payments. He explains the possibilities and
            explains it by charging his car. Additionally Robin shows Jürgen the
            features of In-Car-Commerce - have you ever heard about it? Watch
            the clip!
          </p>
        </div>
      </a>
      <a href="" class="widget">
        <div class="widget-wrapper">
          <div class="widget-img-wrapper">
            <img
              src="https://www.db.com/contentAsset/image/f1496eb8-3a9…eb8-3a99-4922-bcb1-2c20d9c7db5f.jpg?language_id=1"
              alt=""
            />
          </div>

          <p>flow article | January 3, 2022</p>

          <h4>Realising West Africa’s promise</h4>
          <p>
            As the world looks to emerge from the corona virus pandemic but
            braces for further strains of the virus, how has West Africa been
            holding up? Better than many regions, is the answer – flow's
            Clarissa Dann takes a closer look at the economic uptick in Nigeria
            and Ghana
          </p>
        </div>
      </a>
      <a href="" class="widget">
        <div class="widget-wrapper">
          <div class="widget-img-wrapper">
            <img
              src="https://www.db.com/contentAsset/image/d628ea07-9b7…a07-9b7b-4228-bd43-dd1666185f84.jpg?language_id=1"
              alt=""
            />
          </div>

          <p>flow article | December 27, 2021</p>

          <h4>World Outlook 2022</h4>
          <p>
            Given the inexorable upward trajectory of inflation, lower than
            hoped vaccination adoption rates and central bank hawkishness, what
            does this mean for the post-Covid recovery and future growth? flow
            presents the key findings of recent Deutsche Bank Research analysis
            that point to stormy waters ahead
          </p>
        </div>
      </a>
      <a href="" class="widget">
        <div class="widget-wrapper">
          <div class="widget-img-wrapper">
            <img
              src="https://www.db.com/contentAsset/image/113bdaae-434…aae-4344-4e81-9f0c-196d12840edd.jpg?language_id=1"
              alt=""
            />
          </div>

          <p>flow article | December 12, 2021</p>

          <h4>
            Treasurer’s checklist: How to improve cash management in five steps
          </h4>
          <p>
            Best practice is something every treasurer strives for but getting
            there is a tough task. Drawing on the results of a benchmark review
            among 200 corporate treasurers globally, flow outlines five steps
            that will help to improve cash management
          </p>
        </div>
      </a>

      <a href="" class="widget">
        <div class="widget-wrapper">
          <div class="widget-img-wrapper">
            <img
              src="https://www.db.com/contentAsset/image/9b34b4b5-8d8…4b5-8d8a-4c5b-9567-c49889c4743b.jpg?language_id=1"
              alt=""
            />
          </div>

          <p>ExpeditionFinance | December 8, 2021</p>

          <h4>Innovation by SAP</h4>
          <p>
            Innovation? How do other branches handle this and what are the needs
            to be innovative? What are the hurdles and how to find successfully
            new ideas? Jürgen Schmitt meets Claus von Riegen in the innovation
            hub in Potsdam.
          </p>
        </div>
      </a>
      <a href="" class="widget">
        <div class="widget-wrapper">
          <div class="widget-img-wrapper">
            <img
              src="https://www.db.com/contentAsset/image/c1cfe538-cc2…538-cc28-4f51-9aee-0a92aff3deb1.jpg?language_id=1"
              alt=""
            />
          </div>

          <p>flow article | December 8, 2021</p>

          <h4>SWIFT Go: Low value payments rethought</h4>
          <p>
            The launch of SWIFT Go is a milestone for the cross-border payments
            space. As the story continues to develop, flow explores how the
            industry is driving the initiative forward – and how companies could
            benefit
          </p>
        </div>
      </a>
      <a href="" class="widget">
        <div class="widget-wrapper">
          <div class="widget-img-wrapper">
            <img
              src="	https://www.db.com/contentAsset/image/84f95d34-b23…d34-b237-4d62-8b19-0c08cdd8c765.jpg?language_id=1"
              alt=""
            />
          </div>

          <p>flow article | December 5, 2021</p>

          <h4>REITs in Asia – a resilient asset class</h4>
          <p>
            As recognition of the flexibility of REITs grows across Asia, flow
            spoke with REIT trustee market leaders at Deutsche Bank in Hong Kong
            and Singapore about the opportunities awaiting investors
            post-pandemic in the Greater Bay Area and beyond
          </p>
        </div>
      </a>
      <a href="" class="widget">
        <div class="widget-wrapper">
          <div class="widget-img-wrapper">
            <img
              src="	https://www.db.com/contentAsset/image/44edd803-7ae…803-7ae3-4bd5-9fe3-d1c106762212.jpg?language_id=1"
              alt=""
            />
          </div>

          <p>ExpeditionFinance | December 3, 2021</p>

          <h4>Buy now – pay later</h4>
          <p>
            Everyone´s talking about Buy now - pay later. But how does it work.
            Is it just online or also offline an opportunity? Explorer Jürgen
            Schmitt talks to product manager and expert Gunnar Stamer in a bike
            shop.
          </p>
        </div>
      </a>
    </div>
  </div>
  <div class="latest flex">
    <div class="latest-container grid-3">
      <a href="" class="widget">
        <div class="latest-wrapper">
          <div class="widget-img-wrapper">
            <img
              src="https://www.db.com/contentAsset/image/a750984a-943f-480a-923b-5f0bd9e4d3ca/fileAsset/filter/Resize,Jpeg/resize_w/640/3ac535ac-d57d-409c-9450-001e29667a9d.jpg"
              alt=""
            />
          </div>

          <h2>flow</h2>
          <p>Thought leadership platform for corporate clients</p>
          <button class="blue-button">latest insights and articles</button>
        </div>
      </a>
      <a href="" class="widget">
        <div class="latest-wrapper">
          <div class="widget-img-wrapper">
            <img
              src="https://www.db.com/contentAsset/image/f26a64c5-d3d1-4436-943c-2efde2b14b8d/fileAsset/filter/Resize,Jpeg/resize_w/640/17b68611-bc15-4424-8655-b675fd28cd60.jpg"
              alt=""
            />
          </div>

          <h2>dbSustainability</h2>
          <p>
            Supporting clients with ESG integration into investment processes
          </p>
          <button class="blue-button">latest reports</button>
        </div>
      </a>
      <a href="" class="widget">
        <div class="latest-wrapper">
          <div class="widget-img-wrapper">
            <img
              src="https://www.db.com/contentAsset/image/e5bb29a9-ed07-4c55-adb2-2bb912232487/fileAsset/filter/Resize,Jpeg/resize_w/640/51d0239b-1f27-4e39-8fdd-1c2e8094e67d.jpg"
              alt=""
            />
          </div>

          <h2>Climate Statement</h2>
          <p>Deutsche Bank's numerous climate-related activities</p>
          <button class="blue-button">fighting climate change</button>
        </div>
      </a>
    </div>
  </div>
  <div class="flex">
    <div class="main-container grid-3">
      <a href="" class="widget">
        <div class="latest-wrapper">
          <div class="widget-img-wrapper">
            <img src="/images/stock.png" alt="" />
          </div>
        </div>
      </a>
      <a href="" class="widget">
        <div class="latest-wrapper" style="background: #0018a8">
          <h2>Financial releases, reports and calendar</h2>
          <p>
            Consult our financial reporting and events or read our creditor
            information
          </p>
        </div>
      </a>
      <a href="" class="widget">
        <div class="latest-wrapper" style="background: #671e75">
          <h2>Graduate? Professional?</h2>
          <p>
            The world is changing, and so are we. This is more than banking.
          </p>
          <p>Opportunities for agile minds start here</p>
        </div>
      </a>
    </div>
  </div>
</section>
