<section class="investor-relations">
  <div class="carousel">
    <a href="" class="carousel-slides"
      ><div class="carousel-img-wrapper">
        <img
          src="https://investor-relations.db.com/contentAsset/raw-data/99f2b3a9-3f40-4ad6-b82a-3035a9ca1d8d/fileAsset?language_id=1"
          alt=""
        />
        <div class="slide-info">
          <h3>January 27, 2022</h3>
          <h2>
            Christian Sewing, CEO <br />
            James von Moltke, CFO
          </h2>
          <h3>present Q4 2021 results</h3>
          <button class="white-button">more</button>
        </div>
      </div>
    </a>
    <a href="" class="carousel-slides"
      ><div class="carousel-img-wrapper">
        <img
          src="https://investor-relations.db.com/contentAsset/raw-data/99f2b3a9-3f40-4ad6-b82a-3035a9ca1d8d/fileAsset?language_id=1"
          alt=""
        />
        <div class="slide-info">
          <h3>January 28, 2022</h3>
          <h2>
            Conference Call for <br />
            Fixed Income Investor
          </h2>
          <h3>
            with James von Moltke, CFO <br />and Dixit Joshi, Group Treasurer
          </h3>
          <button>more</button>
        </div>
      </div>
    </a>
    <div class="controls">
      <button onclick="plusSlides(-1)">&#10094;</button>
      <button onclick="plusSlides(1)">&#10095;</button>
    </div>
  </div>

  <div class="grid-2">
    <div class="releases">
      <article>
        <h2 class="blue-text">IR Releases</h2>
        <p>
          Media Release
          <span>|</span>
          December 3, 2021
        </p>
        <h3>European Banking Authority Autumn 2021 Transparency Exercise</h3>
      </article>
      <article>
        <p>
          Media Release
          <span>|</span>
          November 21, 2021
        </p>
        <h3>
          Olivier Vigneron to become Group Chief Risk Officer of Deutsche Bank
        </h3>
      </article>
      <article>
        <p>
          Ad-hoc Release
          <span>|</span>
          November 19, 2021
        </p>
        <h3>
          Alexander Wynaendts nominated for election as next Chairman of
          Deutsche Bank’s Supervisory Board
        </h3>
      </article>
      <button class="blue-button">More news</button>
    </div>

    <div class="flex">
      <img src="images\stock.png" alt="" />
    </div>
  </div>
  <div class="main-container grid-3">
    <h1 style="grid-column: 1/4; font-size: 1.6rem" class="blue-text">
      Publications and Events
    </h1>
    <a class="publications">
      <h3>Other Presentations and Events</h3>
      <h2>March 10, 2022</h2>
      <p>Investor Deep Dive</p>
      <button>more</button>
    </a>
    <a class="publications">
      <h3>Strategic Information</h3>
      <p>
        Deutsche Bank is radically transforming its business model to become
        more profitable, more client focused, to drive long-term growth and to
        improve shareholder returns. To execute this transformation Deutsche
        Bank will return to its roots – all on the basis of a robust balance
        sheet with strong controls. Understanding client needs is the top
        priority. We operate where our clients want us to be and where we can
        grow competitively.
      </p>
      <button>more</button>
    </a>
    <a class="publications">
      <h3>Financial Calendar</h3>
      <h1>January 27,2022</h1>
      <p>
        Preliminary results for the 2021 financial year with Annual Media
        Conference and Investor and Analyst Conference Call
      </p>
      <h1>January 27,2022</h1>
      <h3>Fixed Income Investor Conference Call on Q4/FY2021 results</h3>
      <button>Financial Calendar</button>
    </a>
    <a class="publications"><h2>Consensus Report</h2></a>
    <div
      a
      class="publications"
      style="background: linear-gradient(312deg, #00001b, #00a3e0)"
    >
      <h2>Investment case presentation</h2>
    </div>
    <div
      a
      class="publications"
      style="background: linear-gradient(312deg, #00001b, #00a3e0)"
    >
      <h2>Client & Creditor Presentation (PDF)</h2>
    </div>
    <a class="publications" style="background: #0018a8">
      <h2>Deutsche Bank Annual Reports</h2>
    </a>
    <a class="publications" style="background: #00a3e0">
      <h2>DWS Financial Publications</h2>
    </a>
    <div
      a
      class="publications"
      style="background: linear-gradient(312deg, #00001b, #00a3e0)"
    >
      <h2>ESG</h2>
    </div>
  </div>
</section>
