<section class="grid-2">
  <div class="grid-image">
    <img
      src="https://images.pexels.com/photos/7283265/pexels-photo-7283265.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
      alt=""
    />
  </div>
  <div>
    <div class="large-text">ABOUT US</div>
    <div style="font-weight: 600">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus odio
      suscipit corporis necessitatibus. Labore, mollitia! Nesciunt id temporibus
      odit. Cupiditate dolorum qui numquam eum possimus? Magni similique tempore
      animi natus mollitia ipsum aperiam? Ut corporis quia, earum eius, est aut
      libero ducimus quaerat sit esse voluptatibus voluptates quibusdam.
      Reprehenderit ipsum consequatur earum quo inventore fugiat autem deserunt
      libero odit dolorem dolore possimus nihil modi labore porro excepturi
      unde, magni facere vero dignissimos sapiente! Fuga nihil atque minima, cum
      voluptatum voluptatibus aliquid beatae magni quod numquam rerum,
      inventore, debitis velit quam quis? Ducimus laboriosam deserunt quidem
      eveniet totam eum autem doloremque!
    </div>
  </div>
</section>
