<section class="grid-2">
  <div class="grid-image">
    <img
      src="https://images.pexels.com/photos/1081685/pexels-photo-1081685.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
      alt=""
      style="padding: 0"
    />
  </div>
  <div class="large-text flex">
    <h1>Welcome to Potter School of Arts</h1>
  </div>
</section>
<section class="grid-2">
  <div class="tile flex">
    <a href="#!about" class="flex">ABOUT US</a>
  </div>
  <div class="grid-image">
    <img
      src="https://images.pexels.com/photos/5063475/pexels-photo-5063475.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
      alt=""
    />
  </div>
</section>
<section class="grid-2">
  <div class="tile flex">
    <a href="/#!enroll" class="flex">ENROLL</a>
  </div>
  <div class="grid-image">
    <img
      src="https://images.pexels.com/photos/1084510/pexels-photo-1084510.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
      alt=""
    />
  </div>
</section>

<section class="grid-2">
  <div class="grid-image">
    <img
      src="https://images.pexels.com/photos/2372982/pexels-photo-2372982.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
      alt=""
    />
  </div>

  <div class="tile flex">
    <a href="/#!contact" class="flex">CONTACT US</a>
  </div>
</section>
<section class="flex">
  <div class="flex newsletter">
    <div class="signUp">
      <label for=""
        >Subscribe to our<br />
        newsletter</label
      ><br />
      <input type="email" name="" id="" placeholder="enter your email" />
    </div>
    <button>SUBSCRIBE</button>
  </div>
</section>
