<section id="hero">
  <div class="bg-image">
    <div class="overlay-text">
      <div style="text-align: justify">
        <p>
          DISCOVER<br />
          THE
          <span
            style="
              -webkit-text-fill-color: white;
              -webkit-text-stroke: transparent;
            "
          >
            TITAN </span
          ><br />
          WITHIN
          <a
            href="/#!glasses
          "
            class="arrow"
          >
            <i class="fas fa-arrow-circle-right"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
<section class="grid-3" id="categories">
  <div class="tile flex">
    <img
      src="https://images.pexels.com/photos/4933555/pexels-photo-4933555.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
      alt=""
    />
    <a href="">EYEGLASSES</a>
  </div>
  <div class="tile flex">
    <img
      src="https://images.pexels.com/photos/944761/pexels-photo-944761.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
      alt=""
    /><a href="">SUNGLASSES</a>
  </div>
  <div class="tile flex">
    <img
      src="https://images.pexels.com/photos/4491460/pexels-photo-4491460.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
      alt=""
    /><a href="">COMPUTER GLASSES</a>
  </div>
  <div class="tile flex">
    <img
      src="https://images.pexels.com/photos/1329571/pexels-photo-1329571.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
      alt=""
    /><a href="">READING GLASSES</a>
  </div>
  <div class="tile flex">
    <img
      src="https://images.pexels.com/photos/5843349/pexels-photo-5843349.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
      alt=""
    /><a href="">CONTACT LENSES</a>
  </div>
  <div class="tile flex">
    <img
      src="https://images.pexels.com/photos/1231065/pexels-photo-1231065.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
      alt=""
    /><a href="">ACCESSORIES</a>
  </div>
</section>
<section id="brands">
  <h1>INTERNATIONAL BRANDS</h1>
  <div class="grid-4">
    <img
      src="https://cdn1.titaneyeplus.com/tep_m2_prod/media/titan/homepage/brand/TH.png"
      alt=""
    />
    <img
      src="https://cdn1.titaneyeplus.com/tep_m2_prod/media/titan/homepage/brand/EA.png"
      alt=""
    />
    <img
      src="
    https://cdn1.titaneyeplus.com/tep_m2_prod/media/titan/homepage/brand/DG.png"
      alt=""
    />
    <img
      src="https://cdn1.titaneyeplus.com/tep_m2_prod/media/titan/homepage/brand/Disel.png"
      alt=""
    />
  </div>
</section>
