* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black;
}

nav {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
 
}
.nav-bar {
  margin-bottom: 100px;
  
}

.v-links {
  float: left;
  height: 100vh;
}
.r-form {
  margin: 0 auto;
  max-width: 700px;
}
